@media (max-width: 767px) {
	.fixed-menu-right {
		position: absolute;
		left: 74%;
	}
}

@media (max-width: 490px) {
    .fixed-menu-right{
        position: relative;
	 	left: 0%;
    }
}


.article-text {
	max-height: 400px !important;
    overflow-x: hidden !important;
    overflow-y: scroll !important;
    padding-left: 5% !important;
    padding-right: 5% !important;
}

.word-break {
	word-wrap: break-word;
}

.w-70{
	width:70%!important
}

.float-right {
	float: right !important;
}

.wo-margin{
	padding-left: 0;
	margin-left: -1.1em;
	list-style-type: none;
}

.w-margin{
	padding-left: 0;
	margin-left: 1.5em;
	list-style-type: none;
  }

.article-image {
	max-height: 400px;
}


.hoverActive:hover {
	background-color:  aliceblue;
}


/*clase donde se muestra el articulo principal*/

.arcicle-main {
    max-height: 800px;
    overflow-x: hidden;
    overflow-y: scroll;
}



/*clase de la revista principal*/
.magazine-main {
	max-height: 900px;
    overflow-x: hidden;
    overflow-y: scroll;
}

/* clase del carrusel de eventos y lanzamientos */
.carousel-event-launch{
	position:relative;
	height:289px;
	width:420px;
	overflow:hidden
}
.carousel-event-launch-escala{
	position:relative;
	height:540px;
	width:670px;
	overflow:hidden
}

.carousel-innerX{
	position:relative;
	height:280px;
	width:330px;
	overflow:hidden
}

/* Fin de carrusel de eventos y lanzamientos */

.item-list {
	position: absolute;
	left: 75%;
}


.backgroundMain {
	background-color:  #F1EEED;
}


.EV-hide {
	display: none !important;
}

.magazine-carrousel {
	max-height: 100% !important;
	min-height: 600px !important;
}

.provider-carrousel {
	max-height: 400px !important;
}

.magazine-item-image {
	max-height: 200px !important;
}
.magazine-item-image-sup {
	max-height: 400px !important;
	margin-top: 1em;
	margin-left: 1.5em;
	margin-right: 1em;
}

/* carrusel home */

.carousel-indicators-home {
    position: absolute;
    right: 0;
    bottom: 150px;
    left: 0;
    z-index: 15;
    /* display: -ms-flexbox; */
    display: flex;
    /* -ms-flex-pack: center; */
    justify-content: center;
    padding-left: 0;
    margin-right: 15%;
    margin-left: 15%;
    list-style: none;
}

.home-carrousel {
	max-height: 100% !important;
	min-height: 100% !important;
}

.home-carrousel2 {
	max-height:600px !important;
	min-height:600px !important;
}

.carousel-caption-edit {
    position: relative;
    /* right: 15%; */
    bottom: 78px;
    /* left: 15%; */
    z-index: 10;
    padding-top: 30px;
    padding-bottom: 50px;
    color: #fff;
    text-align: center;
    background: linear-gradient(to bottom,transparent 0,rgba(0,0,0,.7) 30%,rgba(0,0,0,.95) 100%);
}

/* fin carrusel home */

.img-responsive {
    display: block;
	max-width: 100%;
	top: -5px;
    right: 0px;
    /* height: auto; */
}

.video {
    height: 355px;
    overflow: hidden;
    position: absolute;
    top: -5px;
    left: -5px;
    width: 100%;
}

.magazine-item-items {
	max-height: 330px;
    overflow-x: hidden;
    overflow-y: scroll;
}


.article-item-items {
	max-height: 330px;
    overflow-x: hidden;
    overflow-y: scroll;
}



.without-padding {
	padding-right: 0px !important;
    padding-left: 0px !important;
}


.background-orange {
	background-color: darkorange !important;
}

.background-DarkRed {
	background-color: black!important;
	/* background-color: #343a40!important; */
}

.top-3 {
	margin-top: 3% !important;
}

.top-1 {
	margin-top: 1% !important;
}

.color-black {
	color:black  !important;
}

.bg{
	background-color:#282828;
}

.botones{
	background-color:#282828;
	padding: 5px;
	border: 0.35px solid rgb(148, 147, 147);
}

.botones:hover{
	background: white;
	padding: 5px;
	border: 0.35px solid #282828;
}

.color-botones{
	color: white !important;
}

.color-botones:hover{
	color: black !important;
}

.color-red {
	color:red;
}

.color-gold {
	color:#D4AF37;
}

.color-white {
	color: white !important;
}
.color-back-white {
	background-color: white !important;
}

.image {
   background-image: url("../images/construccion.jpg");
   background-color: #cccccc;
}

.btn-DarkRed {
    color: white;
    background-color: transparent;
    background-image: none;
    border-color: darkred;
}
.btn-Scala {
    color: white;
    background-color:  #343a40;
    border-color: #343a40;
}
.btn-Scala:hover {
	color: white !important;
}
.btn-DarkRed:hover {
	background-color: darkred !important;
}

.logo-main {
	width: 35px;
}
.logos-main {
	width: 150px;
	height: 70px;
}
.margin-top-menu{
	margin: 1.5em auto;
}
.border-icon{
	padding: 8px;
	border: 0.35px solid rgb(148, 147, 147);
}
.border-text{
	padding: 8px;
	border: 1px solid black;
}
.border-image{
	border: 1px solid black;
}
.border-btn{
	background-color: #b3b3b3;
	padding: 8px;
	color: black; 
}
.border-btn:hover{
	background-color: black;
	padding: 8px;
	color: white;
}
.border-image2{
	border: 1px solid #b3b3b3;
}
.logos-item {
	width: 25px;
	height: 25px;
	border: 1px solid black;
}
.logos-allies-main {
	width: 180px;
	height: 170px;
}
.logos-provider-main {
	width: 190px;
	height: 150px;
	margin: -20px 0px 15px 90px;
}
.banner-lateral-main {
	width: 200px;
	height: 575px;
}

.card-main {
	width: 318px !important;
    height: 164px !important;
}

.card-main-provider {
	width: 316px !important;
    height: 236px !important;
}

.card-main-provider-2 {
	width: 316px !important;
    height: 236px !important;
}

.card-main-lastmagazine {
	width: 318px !important;
    height: 350px !important;
}

.top2 {
	margin-top: 2% !important;
}

.required {
	color:red;
}
.article-body{
	margin-top: 90px;
	margin-right: 50px;
	margin-bottom: 20px;
	margin-left: 70px;
}

.blog-body{
	margin-right: -50px;
	margin-bottom: 20px;
	margin-left: -15px;
}

.carousel-inner4{
	height:400px;
	width:100%;
	overflow:hidden
}

.flotante-banner {
    display:scroll;
    position:fixed;
    bottom:410px;
	right: -17px;
}

.flotante {
    display:scroll;
    position:fixed;
    bottom:32%;
	right: -37px;
}

.flotante-banner-home {
    display:scroll;
    position:fixed;
    bottom:40%;
	right: 1px;
}

.flotante-shop {
    display:scroll;
    position:fixed;
    bottom:40%;
	left: 0px;
	z-index: 100;
}

.boton-style{
	border-radius: 55% 55%;
	width: 70%;
}

.zoom {
	transition: transform .2s; /* Animation */
	width: 127px;
	margin: 0 auto;
	border-radius: 59% 59%;
}
  
  .zoom:hover {
	transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

label.line {
    width: 200px;
    height: 2px;
    display: block;
    background: black;
    border-radius: 10px;
    margin: 0.2em auto;
}

label.line2 {
    width: 100%;
    height: 2px;
    display: block;
    background: white;
    border-radius: 10px;
    margin: 0.2em auto;
}

/* tamaño de columnas medio para emparejar textos */
.col-xs-0-12 {
	-ms-flex:0 0 0.999996%;
	flex:0 0 0.999996%;
	max-width:0.999996%
}

.col-xs-0-25 {
	-ms-flex:0 0 2.083325%;
	flex:0 0 2.083325%;
	max-width:2.083325%
}

.col-xs-0-5 {
	-ms-flex:0 0 4.16665%;
	flex:0 0 4.16665%;
	max-width:4.16665%
}

.col-xs-1-5 {
	-ms-flex:0 0 12.49995%;
	flex:0 0 12.49995%;
	max-width:12.49995%
}

.col-xs-2-5 {
	-ms-flex:0 0 20.8333325%;
	flex:0 0 20.8333325%;
	max-width:20.8333325%
}
.col-xs-3-25 {
	-ms-flex:0 0 27.083225%;
	flex:0 0 27.083225%;
	max-width:27.083225%
}

.col-xs-3-5 {
	-ms-flex:0 0 29.16655%;
	flex:0 0 29.16655%;
	max-width:29.16655%
}
.col-xs-3-75 {
	-ms-flex:0 0 31.249875%;
	flex:0 0 31.249875%;
	max-width:31.249875%
}
.col-xs-4-25 {
	-ms-flex:0 0 35.416525%;
	flex:0 0 35.416525%;
	max-width:35.416525%
}
.col-xs-4-5 {
	-ms-flex:0 0 37.49985%;
	flex:0 0 37.49985%;
	max-width:37.49985%
}

.col-lg-3-75{
	-ms-flex:0 0 25.000000%;
	flex:0 0 25.000000%;
	max-width:25.000000%
}

/* estilos de p */

p.header{
	font-size:14px;
	font-family:Arial,Helvetica;
	font-weight:bold;
	color:black;
}
p.text-text{
	font-size:18px;
	font-family:Arial,Helvetica;
	color:black;
}
p.date{
	font-size:12px;
	font-family:Arial,Helvetica;
	font-weight:bold;
	color:black;
}
p.footer{
	font-size:10px;
	font-family:Arial,Helvetica;
	font-weight:bold;
	font-style:italic;
}
p.footer2{
	font-size:12px;
	font-family:Arial,Helvetica;
	font-weight:bold;
	font-style:italic;
}

.text-14{
	font-size:14px;
}
.text-12{
	font-size:12px;
}

label.line {
	width: 200px;
	height: 2px;
	display: block;
	background: #003066;
	border-radius: 10px;
	margin: 0.2em auto;
  }

  label.line {
    width: 107px;
  }

/* hover de las imagenes */

.div-imagen {
	display:inline-block;
	position:relative;
  }

  .div-imagen > div {
	position:absolute;
	top:0;
	left:0;
	z-index:-1;
	padding:10px;
	margin:0;
  }

  .desvanecer:hover {
	opacity: 0.07;
	-webkit-transition: opacity 500ms;
	-moz-transition: opacity 500ms;
	-o-transition: opacity 500ms;
	-ms-transition: opacity 500ms;
	transition: opacity 500ms;
  }

  .imagen:hover{
	cursor: pointer;
	width: 100%;
  }
/* estilo de popup */

.image-popup{

	max-width: 100% !important;
	min-width: 100% !important;
	min-height:100% !important;
	max-height:100% !important;
}

/* carrusel */

.carousel-item2{position:relative;display:none;-ms-flex-align:center;align-items:center;width:70%;transition:-webkit-transform .6s ease;transition:transform .6s ease;transition:transform .6s ease,-webkit-transform .6s ease;-webkit-backface-visibility:hidden;backface-visibility:hidden;-webkit-perspective:1000px;perspective:1000px} .carousel-item2-next,.carousel-item2-prev,.carousel-item2.active{display:block}.carousel-item2-next,.carousel-item2-prev{position:absolute;top:0}.carousel-item2-next.carousel-item2-left,.carousel-item2-prev.carousel-item2-right{-webkit-transform:translateX(0);transform:translateX(0)}@supports ((-webkit-transform-style:preserve-3d) or (transform-style:preserve-3d)){.carousel-item2-next.carousel-item2-left,.carousel-item2-prev.carousel-item2-right{-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}}.active.carousel-item2-right,.carousel-item2-next{-webkit-transform:translateX(100%);transform:translateX(100%)}@supports ((-webkit-transform-style:preserve-3d) or (transform-style:preserve-3d)){.active.carousel-item2-right,.carousel-item2-next{-webkit-transform:translate3d(100%,0,0);transform:translate3d(100%,0,0)}}.active.carousel-item2-left,.carousel-item2-prev{-webkit-transform:translateX(-100%);transform:translateX(-100%)}@supports ((-webkit-transform-style:preserve-3d) or (transform-style:preserve-3d)){.active.carousel-item2-left,.carousel-item2-prev{-webkit-transform:translate3d(-100%,0,0);transform:translate3d(-100%,0,0)}}

/* Galeria de imagenes */

#gallery img {
	border: none;
}

#gallery_nav {
	float: left;
	width: 150px;
	text-align: center;
}

#gallery_output {
	float: left;
	width: 600px;
	height: 550px;
	overflow: hidden;
}

#gallery_output img {
	display: block;
	margin: 20px auto 0 auto;
}


.img2-responsive {
	display: block;
	max-width: 100%;
	height: auto;
}
  